
$fontSize: 16px;
$lineHeight: 24px;
$fontWeight: 500;

$fontFamily: "Poppins";

$minWidth: 400px;
$maxWidth: 1280px;
$maxWidthContainer: 1000px;
$containerPadding: 40px;
$containerWidth: $maxWidthContainer + $containerPadding;



.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: $maxWidth;
    .container {
        max-width: $containerWidth;
        margin: 0 auto;
        padding: 0 20px;
    }
}