.contact {
    padding-top: 40px;
    width: 100%;
    max-width: 431px;
    h4 {
        margin-top: 30px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    input {
        height: 48px;
        padding: 10px;
        color:var(--gray) ;
        font-size: 12px;
        line-height: 20px;
        width: 100%;
        border: 1px solid var(--gray);
        margin: 30px 0 20px 0;
    }
}